<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Timeline</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.1/themes/fontawesome-stars.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.1/themes/bars-reversed.min.css">
  <link rel="stylesheet" href="assets/css/timeline.css">
  <link rel="stylesheet" href="assets/css/modal.css">

  <style>
      .br-theme-fontawesome-stars .br-widget a {
        font: normal normal normal 50px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        text-decoration: none;
        margin-right: 20px;
    }
  </style>

  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <form action="/action_page.php">
    <input type="file" name="pic" accept="image/*">
    <input type="submit">
  </form>


  <section class="intro">
  <div class="container">
    <img src="assets/img/user1.jpg" class="user">

    <h1>Your Timeline &darr;</h1>
  </div>
</section>

<section class="timeline">
  <ul>
    <li>
      <div>
        <time>2017</time>
        <img id="myImg1" src="assets/img/Main_Image_1.jpeg" alt="" title="Anthology 1 front" width="100%" height="100%" >
         <!-- At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium -->
      </div>
    </li>
    <li>
      <div>
        <time>2016</time>
        <img id="myImg2" src="assets/img/Main_Image_2.jpeg" alt="" title="Anthology 1 front" width="100%" height="100%" >
        Proin quam velit, efficitur vel neque vitae, rhoncus commodo mi. Suspendisse finibus mauris et bibendum molestie. Aenean ex augue, varius et pulvinar in, pretium non nisi.
      </div>
    </li>
    <li>
      <div>
        <time>2015</time>
        <img id="myImg3" src="assets/img/Main_Image_3.jpeg" alt="" title="Anthology 1 front" width="100%" height="100%" >
        Proin iaculis, nibh eget efficitur varius, libero tellus porta dolor, at pulvinar tortor ex eget ligula. Integer eu dapibus arcu, sit amet sollicitudin eros.
      </div>
    </li>
    <li>
      <div>
        <time>2015</time>
        <img id="myImg4" src="assets/img/Main_Image_4.jpeg" alt="" title="Anthology 1 front" width="100%" height="100%" > In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>2010</time>
        <img id="myImg5" src="assets/img/Main_Image_5.jpeg" alt="" title="Anthology 1 front" width="100%" height="100%" > In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>2005</time>
        <img id="myImg" src="./assets/img/Main_Image_6.jpeg" alt="" title="Anthology 1 front" width="100%" height="100%" >  In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>2002</time>
        <img id="myImg7" src="assets/img/Main_Image_7.jpeg" alt="" title="Anthology 1 front" width="100%" height="100%" > In mattis elit vitae odio posuere, nec maximus massa varius. Suspendisse varius volutpat mattis. Vestibulum id magna est.
      </div>
    </li>
    <li>
      <div>
        <time>2000</time>
        <img id="myImg8" src="assets/img/Main_Image_8.jpeg" alt="" title="Anthology 1 front" width="100%" height="100%" > Aenean condimentum odio a bibendum rhoncus. Ut mauris felis, volutpat eget porta faucibus, euismod quis ante.
      </div>
    </li>

  </ul>
</section>

<div id="myModal" class="modal">
  <select id="example">
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="4">4</option>
     <option value="5">5</option>
  </select>

  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg">
  <div id="caption"><p></p></div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
<script type="text/javascript" src="assets/js/timeline.js"></script>
<script type="text/javascript" src="assets/js/modal.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.1/jquery.barrating.min.js"></script>

<script>
  $(function() {
    $('#example').barrating({
      theme: 'fontawesome-stars'
    });
  });
</script>

</body>
</html>
