<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Timeline</title>
  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.1/themes/fontawesome-stars.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.1/themes/bars-reversed.min.css">
 	<link type="text/css" rel="stylesheet" href="./assets/materialize/css/materialize.css"  media="screen,projection"/>
  <link rel="stylesheet" href="assets/css/timeline.css">
  <link rel="stylesheet" href="assets/css/modal.css">
  <!-- Scripts -->
  <script src="https://www.gstatic.com/firebasejs/4.5.0/firebase.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="assets/js/firebaseConfig.js"></script>
  <script type="text/javascript" src="assets/js/firebase.js"></script>

</head>

<body>
  <section class="intro">
    <div>
      <button class="modal-trigger" href="#imageUploadModal">Upload</button>
    </div>
  <div class="container">
    <img src="assets/img/user1.jpg" class="user">
    <h1>Your Timeline &darr;</h1>
  </div>
</section>

<section class="timeline">
  <ul class="ulTimeline">
  </ul>
</section>

<!-- Modals -->
<!-- Image Model -->
<div id="myModal" class="modal">
  <select id="example">
     <option value="1">1</option>
     <option value="2">2</option>
     <option value="3">3</option>
     <option value="4">4</option>
     <option value="5">5</option>
  </select>

  <span class="close">&times;</span>
  <img class="modal-content" id="modalImg">
  <div id="caption"><p></p></div>
</div>

<!-- Drop Down Form Modal -->

<!-- Modal Structure -->
<div id="imageUploadModal" class="modal imageUploadModal green-text">
 <div class="modal-content">
   <div class="row">
    <form class="col s12">
      <div class="row">
        <!-- Image Upload -->
        <div class="image-upload col s12">
            <label for="file-input">
                <span class="attach-doc">Upload an Image &nbsp;<i class="fa fa-upload" aria-hidden="true"></i></span>
            </label>
            <script type="text/javascript" src="assets/js/firebase.js"></script>
            <input id="file-input" type="file" onchange="uploadToFirebase(this.files)" />
        </div>

        <div class="input-field col s12">
          <i class="material-icons prefix">speaker_notes</i>
          <textarea id="textarea1" class="materialize-textarea"></textarea>
          <label for="textarea1">Textarea</label>
        </div>

        <!-- Image Field -->
        <!-- Notes Input Field -->
        <div class="input-field col s12">
          <i class="material-icons prefix">phone</i>
          <input id="icon_telephone" type="tel" class="validate">
          <label for="icon_telephone">Telephone</label>
        </div>
        <!-- Favourites Field -->
        <!-- Location Field -->
      </div>
    </form>
  </div>
 </div>
</div>




<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous">
</script>

<script type="text/javascript" src="assets/js/timeline.js"></script>
<script type="text/javascript" src="assets/js/modal.js"></script>
<script type="text/javascript" src="./assets/materialize/js/materialize.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-bar-rating/1.2.1/jquery.barrating.min.js"></script>
<script>
  $(function() {
    $('#example').barrating({
      theme: 'fontawesome-stars'
    });
  });

</script>

</body>
</html>
