.delay-1 {
  animation-delay: 9s;
  animation-duration: 1.6s;
  animation-timing-function: ease-in-out; }

button {
  background: transparent !important;
  border: none;
  font-weight: 400;
  font-family: 'Open Sans','Lato', 'Arvo', 'Vollkorn', serif, sans-serif;
  color: rgba(255, 255, 255, 0.6); }

#bg1 {
  background: url("../img/Main_Image_4.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

#bg2 {
  background: url("../img/Main_Image_3.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

#bg3 {
  background: url("../img/Main_Image_4.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

#bg4 {
  background: url("../img/Main_Image_5.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

#bg5 {
  background: url("../img/Main_Image_6.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

#bg6 {
  background: url("../img/Main_Image_7.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

#bg7 {
  background: url("../img/Main_Image_8.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover; }

::-webkit-scrollbar {
  display: none; }

@keyframes moveSVG {
  from {
    top: 50%;
    left: 50%;
    width: 50vw; }
  to {
    top: 10%;
    left: 15%;
    width: 25vw; } }

@keyframes moveSVGMobile {
  from {
    top: 50%;
    left: 50%;
    width: 80vw; }
  to {
    top: 15%;
    left: 50%;
    width: 65vw; } }

@keyframes shadeChage {
  from {
    background: rgba(255, 255, 255, 0.1); }
  to {
    background: rgba(0, 0, 0, 0.5); } }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px; }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px; } }

@keyframes color {
  100%,
  0% {
    stroke: #d62d20; }
  40% {
    stroke: #0057e7; }
  66% {
    stroke: #008744; }
  80%,
  90% {
    stroke: #ffa700; } }

.showbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.loader {
  position: relative;
  margin: 0 auto;
  width: 100px; }
  .loader:before {
    content: '';
    display: block;
    padding-top: 100%; }

.circular {
  animation: rotate 2s linear infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round; }

body {
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  background: url("../img/Main_Image_4.jpeg") no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  font-family: 'Open Sans','Lato', 'Arvo', 'Vollkorn', serif, sans-serif; }
  body .backgroundShade {
    background: rgba(255, 255, 255, 0.1);
    height: 100vh;
    width: 100%;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10fr;
    grid-template-areas: "header" "mainSection";
    animation: shadeChage 3s ease-in-out 8s forwards; }
    body .backgroundShade #header {
      grid-area: header;
      display: grid;
      grid-template-columns: 3fr 3fr 2fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: "logoPixprience . . . menuBtn .";
      text-align: center;
      vertical-align: middle;
      padding: 10px;
      font-size: 3vh;
      margin: 10px; }
      body .backgroundShade #header #logoPixprience {
        grid-area: logoPixprience; }
        body .backgroundShade #header #logoPixprience .logo {
          width: 50vw;
          animation: moveSVG 4s ease-in-out 6s forwards;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%); }
          body .backgroundShade #header #logoPixprience .logo #pixprienceSVG {
            height: auto;
            width: auto;
            z-index: 99999999; }
      body .backgroundShade #header #menuBtn {
        grid-area: menuBtn;
        position: relative;
        border: 0.3vh solid #f1da18;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
        transition: background-color 1s ease-in-out; }
        body .backgroundShade #header #menuBtn:hover {
          background-color: rgba(255, 255, 255, 0.3); }
        body .backgroundShade #header #menuBtn .menu {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          transition: color 1s ease-in-out;
          overflow: auto;
          width: 100%; }
          body .backgroundShade #header #menuBtn .menu:hover {
            color: white; }
          body .backgroundShade #header #menuBtn .menu .menuShow {
            visibility: hidden; }
          body .backgroundShade #header #menuBtn .menu .barshow {
            visibility: visible; }
    body .backgroundShade #mainSection {
      grid-area: mainSection;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 2fr 1fr;
      grid-template-areas: "upperMain" "lowerMain";
      font-size: 2vh;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.8);
      max-height: 100%;
      text-align: center; }
      body .backgroundShade #mainSection #upperMain {
        grid-area: upperMain;
        display: grid;
        grid-template-columns: 1fr 8fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". . ." ". upperMainContainer ."; }
        body .backgroundShade #mainSection #upperMain #upperMainContainer {
          grid-area: upperMainContainer;
          height: 40%;
          justify-self: center;
          align-self: center;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 2fr 1fr;
          grid-template-areas: "slogan" "abcRioButton";
          grid-row-gap: 4vh; }
          body .backgroundShade #mainSection #upperMain #upperMainContainer .slogan {
            grid-area: slogan;
            font-size: 8vh; }
          body .backgroundShade #mainSection #upperMain #upperMainContainer .abcRioButton {
            grid-area: abcRioButton;
            display: grid;
            min-width: 150px !important;
              min-width-height: 4vh;
            min-height: 33px;
            margin: 0 auto;
            border: 0.1vh solid #000;
            background: rgba(255, 255, 255, 0.2);
              background-position: relative;
            border-radius: 100px;
            -moz-border-radius: 100px;
            -webkit-border-radius: 100px; }
            body .backgroundShade #mainSection #upperMain #upperMainContainer .abcRioButton .abcRioButtonContentWrapper {
              height: auto !important;
              justify-self: center;
              align-self: center;
              display: grid;
              grid-template-columns: 0.5fr 1fr;
              grid-template-rows: 1fr;
              grid-template-areas: "abcRioButtonIcon abcRioButtonContents"; }
              body .backgroundShade #mainSection #upperMain #upperMainContainer .abcRioButton .abcRioButtonContentWrapper .abcRioButtonIcon {
                grid-area: abcRioButtonIcon; }
              body .backgroundShade #mainSection #upperMain #upperMainContainer .abcRioButton .abcRioButtonContentWrapper .abcRioButtonContents {
                grid-area: abcRioButtonContents;
                font-size: 2vh !important;
                color: rgba(255, 255, 255, 0.6); }
      body .backgroundShade #mainSection #lowerMain {
        grid-area: lowerMain;
        display: grid;
        grid-template-columns: 3fr 2fr 5fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". . ." " lowerMainContainer . ."; }
        body .backgroundShade #mainSection #lowerMain #lowerMainContainer {
          grid-area: lowerMainContainer;
          height: 40%;
          display: grid;
          color: rgba(255, 255, 255, 0.8);
          grid-template-columns: 1fr 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: "watchVideo watchVideo watchVideo" ". icon .";
          grid-row-gap: 2vh; }
          body .backgroundShade #mainSection #lowerMain #lowerMainContainer:hover #watchVideo {
            text-shadow: #000 0px 0px 1px; }
          body .backgroundShade #mainSection #lowerMain #lowerMainContainer:hover #icon {
            color: red; }
          body .backgroundShade #mainSection #lowerMain #lowerMainContainer #watchVideo {
            grid-area: watchVideo;
            font-size: 3vh;
            transition: color 1s ease-in-out; }
          body .backgroundShade #mainSection #lowerMain #lowerMainContainer #icon {
            grid-area: icon;
            transition: color 1s ease-in-out;
            font-size: 5vh; }

@media only screen and (max-width: 900px) {
  body {
    min-height: 100vh;
    overflow: scroll; }
    body .backgroundShade {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 8fr;
      grid-template-areas: "header" "mainSection"; }
      body .backgroundShade #header {
        grid-template-columns: 20px 1fr 10px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "menuBtn menuBtn menuBtn " ". logoPixprience ."; }
        body .backgroundShade #header #menuBtn {
          background-color: rgba(255, 255, 255, 0.5);
          visibility: hidden; }
        body .backgroundShade #header #logoPixprience {
          grid-area: logoPixprience; }
          body .backgroundShade #header #logoPixprience .logo {
            width: 80vw;
            animation: moveSVGMobile 4s ease-in-out 6s forwards; }
        body .backgroundShade #header #menuBtn {
          position: relative;
          border: none;
          background: transparent !important;
          text-align: left; }
          body .backgroundShade #header #menuBtn .menu .menuShow {
            visibility: hidden; }
          body .backgroundShade #header #menuBtn .menu .barshow {
            visibility: visible;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); }
      body .backgroundShade #mainSection {
        grid-template-columns: 10px 1fr 10px;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: ". upperMain ." ". lowerMain ."; }
        body .backgroundShade #mainSection #upperMain {
          grid-template-columns: 10px 1fr 10px;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: ". . ." ". upperMainContainer ."; }
          body .backgroundShade #mainSection #upperMain #upperMainContainer {
            grid-template-columns: 1fr;
            grid-template-rows: 2fr 1fr;
            grid-template-areas: "slogan" "abcRioButton"; }
            body .backgroundShade #mainSection #upperMain #upperMainContainer .slogan {
              font-size: 4vh; }
            body .backgroundShade #mainSection #upperMain #upperMainContainer .abcRioButton .abcRioButtonContentWrapper {
              grid-template-columns: 0.5fr 1fr;
              grid-template-rows: 1fr;
              grid-template-areas: "abcRioButtonIcon abcRioButtonContents"; }
        body .backgroundShade #mainSection #lowerMain {
          grid-template-columns: 10px 1fr 10px;
          grid-template-rows: 1fr 1fr;
          grid-template-areas: ". . ." ". lowerMainContainer ."; }
          body .backgroundShade #mainSection #lowerMain #lowerMainContainer {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 0.5fr;
            grid-template-areas: "watchVideo watchVideo watchVideo" ". . icon";
            position: relative; }
            body .backgroundShade #mainSection #lowerMain #lowerMainContainer #watchVideo {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%); } }
